/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  DO NOT REMOVE - Styling for the label showing the viewport width */
.viewport-dimensions {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ee4545;
  color: #fff;
  font-weight: 500;
  padding: 5px 8px;
  font-size: 14px;
}

/* STYLES */

/*  Fonts */
body {
  font-family: "Helvetica", sans-serif;
}

/* Basic styles */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Font sizes */
p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.newspaper-name {
  font-size: 24px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.navbar {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar li {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff;
}

.navbar li:last-child {
  border-right: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main-article {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
}

.main-article img {
  width: 100%;
  height: auto;
}

.main-article .image {
  width: 50%;
  padding: 0 20px;
  height: auto;
}

.main-article .content {
  width: 50%;
  padding: 0 20px;
  height: auto;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.article {
  width: 29%;
  padding: 20px;
  border: 1px solid #ccc;
}

.article img {
  width: 100%;
  height: auto;
}

.article h2 {
  font-size: 20px;
  margin-top: 10px;
}

.article p {
  margin-top: 10px;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background-color: #555;
}

.btn-blue {
  background-color: #007bff;
}

.hamburger {
  display: none;
}

/* Write your CSS below */
@media screen and (max-width: 760px) and (min-width: 481px) {
  header {
    width: 100vw;
  }
  .hamburger {
    display: none;
  }
  .hamburger {
    display: none;
  }

  nav {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
  }

  .navbar a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-top: 2px solid #fff;
  }

  .navbar a:first-child {
    border-top: none;
  }
  .newspaper-name {
    font-size: 1.5em;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin: 0;
  }
  .main-article {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .main-article .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .main-article .content {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .main-article .content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-btn-blue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    text-align: left;
  }
  .articles-container .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .article p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  .article .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  header {
    width: 100vw;
  }

  nav {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
  }

  .navbar a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-top: 2px solid #fff;
  }

  .navbar a:first-child {
    border-top: none;
  }
  .newspaper-name {
    font-size: 1.5em;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin: 0;
  }
  .main-article {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .main-article .image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .main-article .content {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .main-article .content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-btn-blue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .articles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    text-align: left;
  }
  .articles-container .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article {
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .article p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  .article .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  header {
    width: 100vw;
  }

  nav {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
  }

  .navbar a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-top: 2px solid #fff;
  }

  .navbar a:first-child {
    border-top: none;
  }
  .newspaper-name {
    font-size: 1.5em;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin: 0;
  }
  .main-article {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .main-article .image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .main-article .content {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .main-article .content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-btn-blue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .articles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    text-align: left;
  }
  .articles-container .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article {
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .article p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  .article .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .hamburger {
    display: flex;
    width: 10px;
    height: auto;
  }
  .nav {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navbar li {
    display: none;
  }

  .navbar a {
    display: none;
  }

  .navbar a:first-child {
    display: none;
  }
  .newspaper-name {
    font-size: 1.5em;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin: 0;
    border: none;
  }
  .main-article {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .main-article .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .main-article .content {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .main-article .content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-btn-blue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    text-align: left;
  }
  .articles-container .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #222;
  }

  .article p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  .article .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}
